<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.yang.service com.yang.interceptor"/>
    <bean id="userServiceImpl" class="com.yang.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="searchFlightServiceImpl" class="com.yang.service.impl.SearchFlightServiceImpl">
        <property name="unionMapper" ref="unionMapper"/>
        <property name="cityMapper" ref="cityMapper"/>
    </bean>
    <bean id="foodServicesServiceImpl" class="com.yang.service.impl.FoodServicesServiceImpl">
        <property name="unionMapper" ref="unionMapper"/>
        <property name="foodMapper" ref="foodMapper"/>
    </bean>
    <bean id="reservationServiceImpl" class="com.yang.service.impl.ReservationServiceImpl">
        <property name="reservationMapper" ref="reservationMapper"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>