.ticket-container{
    overflow: auto;
    background-color: #F0F0F0;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 450px;
}
.ticket-left, .ticket-mid, .ticket-right{
    width: 100%;
}
.ticket-wrapper{
    background-color: #1E9FFF;
    border-radius: 5px;
    margin: 1px 1px 10px 1px;
}
.ticket-wrapper:focus{
    background-color: #5FB878;
}
.ticket-from{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 0 10px 20px;
}
.ticket-to{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px 20px 0;
    text-align: right;
}
.ticket-line{
    text-align: center;
    padding-top: 18px;
}
.ticket-start-time{
    margin: 0 0 10px 20px;
}
.ticket-start-time:before{
    content: 'start: ';
}
.ticket-inventory{
    text-align: center;
    margin: 16px 0 0;
}
.ticket-inventory:after{
    content: ' ticket';
}
.ticket-price{
    text-align: right;
    margin: 10px 20px 0 0;
}
.ticket-price:before{
    content: '$';
}
.ticket-detail-area{
    margin-left: 10px;
    height: 450px;
    border-radius: 5px;
    background-color: #f2f2f2
}
.detail-from{
    font-size: 26px;
    font-weight: bolder;
    padding: 20px 0 0 20px;
    display: inline-block;
}
.detail-to{
    font-size: 26px;
    float: right;
    font-weight: bolder;
    padding: 20px 20px 0 0;
    display: inline-block;
}
.detail-departure-date, .detail-arrival-date, .detail-flight-number,
.detail-cabin-type, .detail-flight-type, .detail-total-time,
.detail-available-ticket, .detail-price{
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 0 20px
}
.detail-departure-date{
    padding-top: 30px;
}
.detail-departure-date:before{
    content: 'Departure Date: ';
}
.detail-arrival-date:before{
    content: 'Arrival Date: ';
}
.detail-flight-number:before{
    content: 'Flight Number: ';
}
.detail-cabin-type:before{
    content: 'Cabin Type: ';
}
.detail-flight-type:before{
    content: 'Flight Type: ';
}
.detail-total-time:before{
    content: 'Total Time: ';
}
.detail-available-ticket:before{
    content: 'Available Tickets: ';
}
.detail-price:before{
    content: 'Price: $';
}
.ticket-transfer-info{
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
}
